body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.clock {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Text color */
    background-color: #f4f4f4; /* Background color */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto;
    width: 200px; /* Adjust the width to fit your layout */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }


body {
    
    background-image: url('./images/coolbackground.jpg');
    
}

.appname{
  text-align: center;
  color: white;
}